.page-enter-active,
.page-leave-active {
  transition: 500ms ease;
}
.page-enter {
  transform: translate(0, 100vh);
  animation: fadeInUp ease 500ms;
}
.page-leave-to {
  opacity: 0;
  transform: translate(0, -100vh);
}

@keyframes fadeInUp{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}